<header [class.scrolled]="isScrolled">
  <div class="logo">
    <h1>DataChart</h1>
  </div>

  <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav [class.active]="menuOpen">
    <a href="#hero"  (click)="scrollToSection($event, 'hero')">Home</a>
    <a href="#services" (click)="scrollToSection($event, 'services')" >Serviços</a>
    <a href="#courses" (click)="scrollToSection($event, 'courses')" >Cursos</a>
    <a href="#about" (click)="scrollToSection($event, 'about')" >Sobre</a>
    <a href="#contact" (click)="scrollToSection($event, 'contact')" >Contato</a>
    <button class="cta" (click)="scrollToSection($event, 'contact')" >Fale Conosco</button>
  </nav>
</header>
