@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter:wght@400;500&display=swap');
@import './app/styled/variables';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  background-color: $pearl-white;
  color: $graphite-gray;
}

h1,h2,h3, p {
  margin: 0;
  padding: 0;
  font-family: $font-title;
  color: $cosmic-blue;
}

a {
  text-decoration: none;
  color: $creative-purple;
  transition: color 0.3s ease;

  &:hover {
    color: $luminous-gold;
  }
}

button {
  font-family: $font-body;
  cursor: pointer;
  transition: all 0.3s ease;
}
